# Copy this file to .env and replace with your Supabase and Cloudinary settings
VITE_SUPABASE_URL=https://qknmjfvvzmiswyjdfxuq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrbm1qZnZ2em1pc3d5amRmeHVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MDkzODAsImV4cCI6MjA5MzM4NTM4MH0.vLl_PufmTR6-3yLLirbzGMrQX7Sk7kyeuzJzMNkVMDU
VITE_CLOUDINARY_CLOUD_NAME=doeezflhm
VITE_CLOUDINARY_UPLOAD_PRESET=guestbook_upload
